@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<d iv class="text-center">
    <div class="card position-absolute top-50 start-50 translate-middle" style="width: 40rem;">
        <img src="https://cdn.www.gob.pe/uploads/document/file/2600291/standard_262862949_271324391694829_5564827149715989014_n.jpg.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Bienvenidos.</h5>
        <p class="card-text">Campaña Promoción y Prevención de Ovinos.</p>
        <a href="/Registro" class="btn btn-primary">Registrate.</a>
        </div>
    </div>
</d>
