@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info">
                <div class="text-center">
                    <br>
                    <br>
                    <h1>Opción a Registrar..</h1>
                    <br>
                    <br>
                </div>
                <table class="table" width="80%" height="80%">
                    <tr>
                        <td>
                            <a href="/RGpropietario" type="button" class="btn btn-primary">Propietario</a>
                        </td>
                        <td>
                            <a href="/RGveterinario" type="button" class="btn btn-primary">Veterinario</a>
                        </td>
                        <td>
                            <a href="/RGovino" type="button" class="btn btn-primary">Ovino</a>
                        </td>
                    </tr>
                </table>
        </div>
    </div>
</div>
