@page
@model pypSln.App.frontend.Pages.visitapypModel
@{

}
<div class="container-md">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="text-info"><h1>Crear VisitaPYP</h1></div>
            <form method="post">
                <table class="table" width="40%" height="40%" >
                    <tr>
                        <div>
                            <td><label asp-for="visitapyps.Id_ovino" class="from-label"></label></td> 
                            <td><input asp-for="visitapyps.Id_ovino" class="from-control" />
                            <span asp-validation-for="visitapyps.Id_ovino" class="text-danger"></span></td> 
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Temperatura" class="from-label"></label></td> 
                            <td><input asp-for="visitapyps.Temperatura" class="from-control" />
                            <span asp-validation-for="visitapyps.Temperatura" class="text-danger"></span></td> 
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.peso" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.peso" class="from-control" />
                            <span asp-validation-for="visitapyps.peso" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Fre_respiratoria" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Fre_respiratoria" class="from-control" />
                            <span asp-validation-for="visitapyps.Fre_respiratoria" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Fre_cardiaca" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Fre_cardiaca" class="from-control" />
                            <span asp-validation-for="visitapyps.Fre_cardiaca" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Estado" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Estado" class="from-control" />
                            <span asp-validation-for="visitapyps.Estado" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Recomendaciones" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Recomendaciones" class="from-control" />
                            <span asp-validation-for="visitapyps.Recomendaciones" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.formula" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.formula" class="from-control" />
                            <span asp-validation-for="visitapyps.formula" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Id_propietario" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Id_propietario" class="from-control" />
                            <span asp-validation-for="visitapyps.Id_propietario" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                    <tr>
                        <div calss="mb-3">
                            <td><label asp-for="visitapyps.Id_veterinario" class="from-label"></label></td>
                            <td><input asp-for="visitapyps.Id_veterinario" class="from-control" />
                            <span asp-validation-for="visitapyps.Id_veterinario" class="text-danger"></span></td>
                        </div>
                    </tr>
                    
                </table>
            <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
        </div>
    </div>
</div>
